<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MINERVAS</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="https://arxiv.org/abs/">arXiv</a></li>
        <li><a href="https://www.kujiale.com/coohomcloud/minervas">Online System</a></li>
        <li><a href="https://coohom.github.io/cloud-docs/">Document</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="//www.zju.edu.cn/english">
            <img style="height:30px;" src="{{ "/static/img/zju.jpg" | prepend:site.baseurl }}">
          </a>
        </li>

        <li>
          <a href="//kujiale.com">
            <img style="height:30px;" src="{{ "/static/img/manycore.png" | prepend:site.baseurl }}">
          </a>
        </li>

        <li>
          <a href="//coohomcloud.com/">
            <img style="height:30px;background-color:#1a7af8;" src="{{ "/static/img/coohom-cloud.png" | prepend:site.baseurl }}">
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
