<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MINERVAS</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="https://arxiv.org/abs/">Preprint</a></li>
        <li><a href="https://www.kujiale.com/coohomcloud/minervas">System</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="//www.zju.edu.cn">
            <img style="height:30px;" src="/static/img/ico/zju.jpg">
          </a>
        </li>

        <li>
          <a href="//kujiale.com">
            <img style="height:30px;" src="/static/img/ico/manycore.png">
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
